@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");




{
    margin :0;
    padding: 0;
    box-sizing:border-box;
    font-familt:"Poppins",sans-serif;

}
body
{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    border-radius:10px;
    background:url(pr.jpg)no-repeat;
    background-size: cover;
}
..registration-form
{
    width:200px;
    background:transparent;
    color:black;
    border:2px solid rgba(255,255,255,2);
    padding: 82px 70px;
}
.wrapper-h1
{
    font-size: 40px;
    text-align: center;
}
